.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  height: 100%;
  width: 250px;
  background-color: #7ec6be;
  transition: 0.4s;
  padding-top: 60px;
  border-radius: 10px;
}

.hamburger {
  position: absolute;
  top: 50%;
  right: -65px; /* Position it outside the sidebar */
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 100;
  padding: 10px;
  background-color: #7ec6be;
  border-radius: 5px;
}

.hamburger div {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.sidebar.active {
  left: 0;
}

.sidebar a {
  display: block;
  color: black;
  font-weight: bolder;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode";
  padding: 16px;
  text-decoration: none;
  font-size: 18px;
  transition: 0.3s;
}

.sidebar a:hover {
  background: rgb(107, 164, 175);
}

/* Hamburger animation */
.hamburger.active div:nth-child(1) {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.hamburger.active div:nth-child(2) {
  opacity: 0;
}

.hamburger.active div:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}

.content {
  padding: 20px;
  margin-left: 60px;
}

/* Popup style */
.popup {
  display: flex;
  position: fixed;
  top: 20%;
  left: 30%;
  width: 800px;
  transform: translate(-50%, -50%);
  max-width: 600px;
  background-color: white; /* Màu nền trắng */
  color: #000; /* Màu chữ đen */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); /* Bóng đổ */
  font-family: "Arial", sans-serif;
  animation: slideDown 0.2s ease-out; /* Hiệu ứng trượt xuống */
  transform: scale(1); /* Giữ tỷ lệ mặc định */
  overflow: hidden; /* Loại bỏ nội dung tràn */
  z-index: 99;
}
/* Hiệu ứng xuất hiện */
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-20px) scale(0.9); /* Bắt đầu từ trên cao, nhỏ hơn */
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1); /* Dừng lại tại vị trí ban đầu */
  }
}
/* Tiêu đề popup */
.popup h3 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 20px;
  color: #000; /* Màu đen */
}

/* Các input và select */
.popup label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 20px;
  display: inline;
}

.popup input[type="text"],
.popup input[type="number"],
.popup input[type="date"],
.popup select {
  width: 100%;
  padding: 0.8rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  transition: border-color 0.2s;
  box-sizing: border-box;
}
.popup input[type="color"] {
  border-radius: 5px;
  border: 2px solid #ddd;
}

.popup.input:focus,
.popup.select:focus {
  border-color: rgb(126, 198, 190);
  outline: none;
}

/* Nút Cancel */
#cancelNewTreeBtn,
#cancelCheckRelationshipBtn,
#cancelSettingsBtn {
  background: #ff5f6d; /* Gradient đỏ cam */
  color: white;
}

#cancelNewTreeBtn:hover,
#cancelCheckRelationshipBtn:hover,
#cancelSettingsBtn:hover {
  background: #e04a54; /* Hover */
  transform: translateY(-3px);
}

/* Nút Action (Enter, Apply, Check) */
#createTreeBtn,
#checkRelationshipBtnPopup,
#applySettingsBtn {
  background: #28a745;
  color: white;
}

#createTreeBtn:hover,
#checkRelationshipBtnPopup:hover,
#applySettingsBtn:hover {
  background: #218838; /* Hover */
  transform: translateY(-3px);
}

/* Căn chỉnh nút */
.popup .menu-widgets-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}

.popup button {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  flex: 1;
  padding: 0.8rem;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}
#download-popup {
  display: none; /* Được thay đổi thành block khi hiển thị */
  position: absolute;
  animation: slideDown 0.5s ease-out;
  top: 40px;
  left: 60px;
  width: 90%;
  height: 90%;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
#popupIframe {
  width: 100%;
  height: 100%;
}
.download-popup button {
  border: none;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  color: #111d68;
  background-color: aqua;
  padding: 5px;
  border-radius: 5px;
}
.download-popup button:hover {
  background-color: rgb(47, 206, 206);
}
.overlay {
  display: none; /* Ẩn overlay khi popup chưa hiển thị */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Nền tối mờ */
  z-index: 98; /* Nằm dưới popup nhưng trên nội dung trang */
}
