
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

/*Search Box */
.Searchbox_container {
  position: fixed;
  margin: 0%;
  top: 0;
  left: 55%;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  padding: 0;
  box-sizing: border-box;
}

.Searchbox_container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 70px;
  height: 70px;
  background-color: #50e3b7;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4), 0 0 5px 0 #50e3b7;
}

.Searchbox_container .search:hover {
  cursor: pointer;
}

.Searchbox_container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}

.Searchbox_container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}

.Searchbox_container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 25px;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: #50e3b7;
  color: rgb(10, 3, 3);
  text-shadow: 0 0 10px #50e3b7;
  padding: 0 80px 0 20px;
  box-shadow: 0 0 10px 0 #50e3b7, 0 10px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 2s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}

.Searchbox_container input:hover {
  cursor: pointer;
}

.Searchbox_container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
  border-radius: 30px;
}

.Searchbox_container input:focus ~ .search {
  right: -250px;
  background: #151515;
  z-index: 6;
}

.Searchbox_container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}

.Searchbox_container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}

.Searchbox_container input::placeholder {
  color: rgb(3, 1, 1);
  opacity: 0.5;
  font-weight: bolder;
}
/* Hết */
